{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="messenger_conversation-start">
        Чат
    </div>
    <div class="messenger" data-update="{% url 'typing' %}" data-user="{{ request.user.pk }}">
        <div class="messages__wrapper">
            <div class="messenger__messages">
                <div class="messenger__older-messages-toggle">
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.sender == request.user %}
                                {% include 'chat/message_in.html' with message=message %}
                            {% else %}
                                {% include 'chat/message_other.html' with message=message %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <div class="status--commenting hidden">
                        <span class="typing-username"></span><span> печатает сообщение...</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="messenger__input">
            {% csrf_token %}
            <div class="messenger__submit-block">
                <textarea name="text"></textarea>
                <button class="send_message"
                        data-sender="{{ request.user.pk }}"
                        data-url="{% url 'add' %}"
                >Отправить
                </button>
            </div>
        </div>
    </div>
    <div class="footer">

    </div>
{% endblock %}